@import url("https://fonts.googleapis.com/css2?family=Comforter&family=Noto+Sans+KR:wght@300;400;500;700;900&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1500;
}

#loader > div {
  width: 100%;
  height: 12.5%;
  -webkit-transition: all 500ms;
  transition: all 500ms;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

#loader > div:nth-child(1) {
  -webkit-transition-delay: 100ms;
          transition-delay: 100ms;
}

#loader > div:nth-child(2) {
  -webkit-transition-delay: 200ms;
          transition-delay: 200ms;
}

#loader > div:nth-child(3) {
  -webkit-transition-delay: 300ms;
          transition-delay: 300ms;
}

#loader > div:nth-child(4) {
  -webkit-transition-delay: 400ms;
          transition-delay: 400ms;
}

#loader > div:nth-child(5) {
  -webkit-transition-delay: 500ms;
          transition-delay: 500ms;
}

#loader > div:nth-child(6) {
  -webkit-transition-delay: 600ms;
          transition-delay: 600ms;
}

#loader > div:nth-child(7) {
  -webkit-transition-delay: 700ms;
          transition-delay: 700ms;
}

#loader > div:nth-child(8) {
  -webkit-transition-delay: 800ms;
          transition-delay: 800ms;
}

body:not(.hidden).reveal #loader > div {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  background-color: rgba(0, 0, 0, 0.822);
}

.sign__bg {
  width: 100vw;
  height: 100%;
  position: fixed;
  z-index: 1500;
  opacity: 0;
  -webkit-transform: translateX(2000px);
          transform: translateX(2000px);
  -webkit-transition: all 500ms 150ms ease-in-out;
  transition: all 500ms 150ms ease-in-out;
}

.sign__bg .sign__close,
.sign__bg .sign__close__sign__in {
  font-size: 1.5rem;
  color: #000;
  position: absolute;
  top: 10px;
  right: 20px;
  z-index: 500;
}

.sign__bg .sign__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 400;
}

.sign__bg .sign__box .signUp {
  position: absolute;
  border-radius: 6px;
  width: 320px;
  height: 620px;
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  background-color: #fff;
  -webkit-transition: all 280ms ease-in-out;
  transition: all 280ms ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}

.sign__bg .sign__box .signUp h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 2rem;
  color: #575757;
}

.sign__bg .sign__box .signUp section:nth-of-type(1) h2 {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  padding-bottom: 3px;
}

.sign__bg .sign__box .signUp section:nth-of-type(1) #agree__sign {
  resize: none;
  width: 270px;
  height: 140px;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  font-size: 0.8rem;
  text-align: justify;
  padding: 10px 10px;
}

.sign__bg .sign__box .signUp section:nth-of-type(1) .agree__checkbox {
  text-align: center;
}

.sign__bg .sign__box .signUp section:nth-of-type(1) .agree__checkbox label {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
  cursor: pointer;
}

.sign__bg .sign__box .signUp section:nth-of-type(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
}

.sign__bg .sign__box .signUp section:nth-of-type(2) div h3 {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 500;
  font-size: 1rem;
}

.sign__bg .sign__box .signUp section:nth-of-type(2) div input {
  width: 250px;
  height: 25px;
  border: none;
  border-bottom: 1px solid #000;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 300;
  padding: 2px 2px;
}

.sign__bg .sign__box .signUp section:nth-of-type(3) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.sign__bg .sign__box .signUp section:nth-of-type(3) input {
  cursor: pointer;
  width: 250px;
  height: 30px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  color: #fff;
  background-color: #000;
}

.sign__bg .sign__box .signUp section:nth-of-type(3) a {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  font-size: 0.8rem;
  color: #575757;
  border-bottom: 1px solid #575757;
  -webkit-transition: all 450ms ease-in-out;
  transition: all 450ms ease-in-out;
}

.sign__bg .sign__box .signUp section:nth-of-type(3) a:hover, .sign__bg .sign__box .signUp section:nth-of-type(3) a:focus {
  color: #fc7703;
  border-color: #fc7703;
}

.sign__bg .sign__box .signUp-stop {
  opacity: 0;
  -webkit-transform: translateY(2000px);
          transform: translateY(2000px);
}

.sign__bg .sign__box .signIn {
  position: absolute;
  border-radius: 6px;
  width: 320px;
  height: 500px;
  opacity: 0;
  -webkit-transform: translateY(-2000px);
          transform: translateY(-2000px);
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  -webkit-transition: all 280ms ease-in-out;
  transition: all 280ms ease-in-out;
}

.sign__bg .sign__box .signIn h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 2rem;
  color: #575757;
  margin-bottom: 40px;
}

.sign__bg .sign__box .signIn section:nth-of-type(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 50px;
}

.sign__bg .sign__box .signIn section:nth-of-type(1) div h3 {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 500;
  font-size: 1rem;
}

.sign__bg .sign__box .signIn section:nth-of-type(1) div input {
  width: 250px;
  height: 35px;
  font-size: 1rem;
  border: none;
  border-bottom: 1px solid #000;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 300;
  padding: 2px 2px;
}

.sign__bg .sign__box .signIn section:nth-of-type(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}

.sign__bg .sign__box .signIn section:nth-of-type(2) input {
  cursor: pointer;
  width: 250px;
  height: 30px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  color: #fff;
  background-color: #000;
}

.sign__bg .sign__box .signIn section:nth-of-type(2) div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 80px;
}

.sign__bg .sign__box .signIn section:nth-of-type(2) div a {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  font-size: 0.8rem;
  color: #575757;
  border-bottom: 1px solid #575757;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.sign__bg .sign__box .signIn section:nth-of-type(2) div a:hover, .sign__bg .sign__box .signIn section:nth-of-type(2) div a:focus {
  color: #fc7703;
  border-color: #fc7703;
}

.sign__bg .sign__box .signIn-active {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.sign__bg-active {
  opacity: 1;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

.privacy__bg {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 300px;
  height: 500px;
  background-color: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 16px 2px rgba(0, 0, 0, 0.71);
          box-shadow: 5px 5px 16px 2px rgba(0, 0, 0, 0.71);
  z-index: 1600;
  opacity: 0;
  margin-top: 2000px;
  -webkit-transition: all 450ms ease-in-out;
  transition: all 450ms ease-in-out;
}

.privacy__bg .privacy__contents {
  position: relative;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.privacy__bg .privacy__contents #privacy__close {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 1.5rem;
}

.privacy__bg .privacy__contents article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.privacy__bg .privacy__contents article h2 {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
}

.privacy__bg .privacy__contents article textarea {
  resize: none;
  width: 250px;
  height: 400px;
  text-align: justify;
  padding: 10px 10px;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
}

.privacy__bg-active {
  opacity: 1;
  margin-top: 0;
}
/*# sourceMappingURL=popUp.css.map */