@import url('https://fonts.googleapis.com/css2?family=Comforter&family=Noto+Sans+KR:wght@300;400;500;700;900&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');

// Variable
// Font Family
$kr-font-family: 'Noto Sans KR', sans-serif;
$eng-font-family: 'Roboto', sans-serif;
$style-font-family: 'Comforter', cursive;
// Font Weight
$light-weight: 300;
$regular-weight: 400;
$medium-weight: 500;
$bold-weight: 700;
$black-weight: 900;
// color
$white-color: #fff;
$black-color: #000;
$nav-black-color: rgba(0, 0, 0, 0.822);
$grey-color: #cfcfcf;
$dark-grey-color: #575757;
$button-color: rgba(0, 0, 0, 0.733);
$orange-color: #fc7703;
$light-orange-color: #eb9e5c;
$scrollbar-thumb-grey: #9b9b9b;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  // size
  width: 5px;
}
body::-webkit-scrollbar-thumb {
  // background
  background-color: $scrollbar-thumb-grey;
  // border
  border-radius: 5px;
}

body::-webkit-scrollbar-track {
  // background
  background-color: $nav-black-color;
}

input:not(#agree__check__contact, #agree__check__sign, #agree__check__hosting, .radio__apply, #agree__privacy__hosting) {
  appearance: none;
  border-radius: 0;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}
a {
  text-decoration: none;
  cursor: pointer;
}
li {
  list-style: none;
}

// 자주쓰는 flex column 스타일
@mixin flexboxStyle {
  display: flex;
  flex-direction: column;
}

@mixin ResponsiveMobile {
  @media screen and (max-width: 767px) {
    @content;
  }
}

@mixin ResponsiveSmallTablet {
  @media screen and (max-width: 820px) {
    @content;
  }
}

@mixin ResponsiveTablet {
  @media screen and (max-width: 912px) {
    @content;
  }
}

//  nav
nav {
  // position
  position: fixed;
  // size
  width: 100vw;
  // flex
  display: flex;
  justify-content: space-between;
  align-items: center;
  // z-index
  z-index: 1200;
  // padding
  padding: 15px 0;

  // transition
  transition: all 300ms ease-in-out;

  // logo
  & > a {
    // font
    font-family: $eng-font-family;
    font-weight: $black-weight;
    font-size: 2rem;
    color: $white-color;
    // padding
    padding-left: 20px;
  }
  .menubar-wrapper {
    // flex
    display: flex;
    align-items: center;
    gap: 20px;
    // padding
    padding-right: 20px;
    // subPage return to main
    #returnToMain {
      // font
      font-family: $kr-font-family;
      font-weight: $regular-weight;
      font-size: 0.9rem;
      color: $white-color;
      // border
      border-bottom: 1px solid $white-color;
      // padding
      padding: 0 4px;
      // transition
      transition: all 250ms ease-in-out;
      // hover
      &:hover,
      &:focus {
        // font
        color: $light-orange-color;
        // border-color
        border-color: $light-orange-color;
      }
    }
    // button
    button {
      // font
      font-family: $eng-font-family;
      font-size: 0.8rem;
      font-weight: $bold-weight;
      color: $white-color;
      // padding
      padding: 4px 12px;
      // border
      border: 1px solid $white-color;
      border-radius: 4px;
      // transition
      transition: all 300ms ease-in;
      // hover
      &:hover,
      &:focus {
        // background
        background-color: $white-color;
        // font
        color: $black-color;
      }
    }
    .hamburger {
      cursor: pointer;
      span {
        // position
        position: relative;
        // display
        display: block;
        // size
        height: 2px;
        // background
        background-color: $white-color;
        // transition
        transition: all 200ms ease-in;
      }
      .line-1 {
        // size
        width: 25px;
      }
      .line-2 {
        // size
        width: 30px;
        // margin
        margin-top: 7px;
      }
      .line-3 {
        // size
        width: 20px;
        // margin
        margin-top: 7px;
      }
      // hover
      &:hover,
      &:focus {
        .line-1 {
          // size
          width: 30px;
        }
        .line-3 {
          // size
          width: 30px;
        }
      }
      // Toggle Open
      .line-1-active {
        // width
        width: 30px;
        // tranform
        transform: rotate(50deg);
        // position
        top: 4px;
      }
      .line-2-active {
        display: none;
      }
      .line-3-active {
        // width
        width: 30px;
        // transform
        transform: rotate(-50deg);
        // position
        top: -4px;
      }
    }
  }
}
.navbar--dark {
  // background
  background-color: $nav-black-color;
}

aside {
  // position
  position: fixed;
  right: 0;
  // flex
  display: flex;
  justify-content: center;
  align-items: center;
  // size
  width: 250px;
  height: 100vh;
  // transform
  transform: translateX(800px);
  // transition
  transition: all 400ms ease-in-out;
  // opacity
  opacity: 0;
  // background
  background-color: $nav-black-color;
  // z-index
  z-index: 1100;
  // ul
  ul {
    // flex
    @include flexboxStyle();
    align-items: flex-end;
    gap: 35px;
    // li
    li {
      // display
      display: block;
      // font
      font-family: $eng-font-family;
      font-weight: $bold-weight;
      font-size: 1.7rem;
      color: $white-color;
      // cursor
      cursor: pointer;
      // admin a
      a {
        // font
        font-family: $kr-font-family;
        font-weight: $regular-weight;
        font-size: 1.2rem;
        color: $orange-color;
      }
    }
    // li just Scroll btn
    #screen__pc__li {
      // after
      &::after {
        // content
        content: '';
        // display
        display: block;
        // position
        position: relative;
        top: 3px;
        // border
        border-bottom: 1px solid $white-color;
        // transfrom
        transform: scaleX(0);
        // transition
        transition: all 200ms ease-in-out;
      }
      &:hover,
      &:focus {
        &::after {
          // transform
          transform: scaleX(1);
        }
      }
    }
  }
}
// open---------------------------------------
.navbar__menu-active {
  // transform
  transform: translateX(0);
  // opacity
  opacity: 1;
}

// Footer--------------------------------------
#footer__box {
  // size
  width: 100vw;
  height: 100%;
  // background
  background-color: $black-color;
  // flex
  @include flexboxStyle();
  justify-content: center;
  align-items: center;
  // padding
  padding-top: 90px;
  padding-bottom: 20px;
  // z-index
  z-index: 1600;

  // Top section
  & > section:nth-of-type(1) {
    // padding
    padding: 0 20px;
    // max width
    max-width: 1100px;
    // width
    width: 100%;
    // flex
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    // Reponsive
    @include ResponsiveMobile() {
      // flex
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
    }
    // header
    header {
      // flex
      @include flexboxStyle();
      align-items: center;
      gap: 42px;
      // h1
      h1 {
        // font
        font-family: $eng-font-family;
        font-weight: $black-weight;
        font-size: 1.5rem;
        color: $white-color;
      }
      // button
      button {
        // width
        width: 140px;
        height: 40px;
        // border
        border: 1px solid $white-color;
        // padding
        padding: 0 10px;
        // font
        font-family: $kr-font-family;
        font-size: 0.8rem;
        color: $white-color;
        // transition
        transition: all 300ms ease-in-out;
        // hover
        &:hover,
        &:focus {
          // font
          color: $black-color;
          // background
          background-color: $white-color;
        }
      }
    }
    // sections (call, email etc..)
    & > section {
      // font
      font-family: $kr-font-family;
      font-weight: $light-weight;
      color: $white-color;
      // flex
      @include flexboxStyle();
      align-items: flex-end;
      gap: 50px;
      // Reponsive
      @include ResponsiveMobile() {
        // flex
        align-items: center;
        gap: 10px;
        // padding
        padding: 20px 0;
      }
      // Titles
      h2 {
        // font
        font-weight: $regular-weight;
        font-size: 0.85rem;
        // position
        position: relative;
        // after
        &::before {
          content: '';
          // position
          position: absolute;
          left: -40px;
          top: 11px;
          // width
          width: 30px;
          height: 1px;
          // background
          background-color: $grey-color;
          // Reponsive
          @include ResponsiveMobile() {
            //width
            width: 100%;
            // padding
            padding: 0 10px;
            // position
            left: -10px;
          }
        }
      }
      ul {
        li {
          // font
          font-size: 0.9rem;
          // a
          a {
            // font
            font-size: 0.75rem;
            font-weight: $regular-weight;
            color: $grey-color;
            // padding
            padding: 2px 2px;
          }
        }
      }
    }
  }
  // Bottom section
  & > section:nth-of-type(2) {
    // margin
    margin-top: 50px;
    // padding
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    // border
    border-top: 1px dotted $grey-color;
    // max width
    max-width: 1100px;
    // width
    width: 100%;
    // flex
    display: flex;
    justify-content: space-between;
    align-items: center;
    // Reponsive
    @include ResponsiveMobile() {
      // flex
      flex-direction: column-reverse;
      align-items: center;
    }
    // footer info
    #footer__info {
      // font
      font-family: $kr-font-family;
      font-weight: $light-weight;
      font-size: 0.75rem;
      color: $white-color;
      // ul
      ul {
        li {
          // padding
          padding-bottom: 8px;
          // a
          a {
            // font
            color: $orange-color;
            // border
            border-bottom: 1px solid $orange-color;
          }
        }
      }
      // copy
      #copyright {
        // font
        color: $grey-color;
        // padding
        padding-top: 15px;
      }
    }
    // certification
    #certification {
      // flex
      display: flex;
      align-items: center;
      gap: 20px;
      // Responsive
      @include ResponsiveMobile() {
        margin-bottom: 30px;
      }
      // kidp
      img:nth-of-type(1) {
        // size
        width: 70px;
        height: 40px;
      }
      img:nth-of-type(2) {
        // size
        width: 60px;
      }
    }
  }
}
