@import url('https://fonts.googleapis.com/css2?family=Comforter&family=Noto+Sans+KR:wght@300;400;500;700;900&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');
// Variable
// Font Family
$kr-font-family: 'Noto Sans KR', sans-serif;
$eng-font-family: 'Roboto', sans-serif;
$style-font-family: 'Comforter', cursive;
// Font Weight
$light-weight: 300;
$regular-weight: 400;
$medium-weight: 500;
$bold-weight: 700;
$black-weight: 900;
// color
$white-color: #fff;
$black-color: #000;
$nav-black-color: rgba(0, 0, 0, 0.822);
$grey-color: #cfcfcf;
$dark-grey-color: #575757;
$button-color: rgba(0, 0, 0, 0.733);
$orange-color: #fc7703;
$light-orange-color: #eb9e5c;
$blue-color: #036ffc;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

textarea {
  // border
  border: 1px solid $dark-grey-color;
}

// 자주쓰는 flex column 스타일
@mixin flexboxStyle {
  display: flex;
  flex-direction: column;
}

@mixin ResponsiveMobile {
  @media screen and (max-width: 767px) {
    @content;
  }
}

@mixin ResponsiveSmallTablet {
  @media screen and (max-width: 820px) {
    @content;
  }
}

@mixin ResponsiveTablet {
  @media screen and (max-width: 912px) {
    @content;
  }
}

// Service Mixin
@mixin ServiceBoxes($widthSize, $heightSize, $BGcolor, $radius) {
  // size
  width: $widthSize;
  height: $heightSize;
  //   background
  background-color: $BGcolor;
  //   border
  border-radius: $radius;
}
// Main
main {
  // flex
  @include flexboxStyle();
  align-items: center;
  // home
  #home,
  #about,
  #service,
  #template {
    // position
    position: relative;
    // size
    width: 100vw;
    height: 100vh;
    // overflow
    overflow-x: hidden;
  }
  #home {
    // flex
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // bg
    .home__bg__wrapper {
      // position
      position: absolute;
      // size
      width: 100vw;
      height: 100vh;
      // filter
      filter: brightness(40%);
      // z-index
      z-index: 1;
      // video tag 임시로 이미지
      .home__img {
        // position
        position: absolute;
        // size
        width: 100vw;
        height: 100vh;
        // background
        background: url(../../images/main/bg/webffleMain.jpg) no-repeat
          center/cover;

        background-attachment: fixed;
      }
    }
    article {
      // flex
      @include flexboxStyle();
      align-items: center;
      // font
      font-family: $kr-font-family;
      color: $white-color;
      // z-index
      z-index: 2;
      h1 {
        // table
        display: table-cell;
        vertical-align: middle;
        // font
        font-size: 3rem;
        font-weight: $black-weight;
        // margin
        margin: 15px 0;
        // border
        border-right: 2px solid $white-color;
        // animation
        animation: cursor 0.5s ease infinite;
        // animation
        @keyframes cursor {
          to {
            border-color: transparent;
          }
        }
        @include ResponsiveMobile() {
          font-size: 1.5rem;
        }
      }
      h4 {
        // padding
        padding-top: 15px;
        // font
        font-size: 1.2rem;
        font-weight: $light-weight;
        // animation
        animation-name: HomeAnimationH4;
        animation-duration: 1s;
        animation-delay: 100ms;
        animation-timing-function: ease-in-out;
      }
      div {
        // animation
        animation-name: HomeAnimationH4;
        animation-duration: 1s;
        animation-delay: 150ms;
        animation-timing-function: ease-in-out;
        //padding
        padding-top: 20px;
        a {
          // position
          position: relative;
          // font
          font-size: 1.3rem;
          // animation
          animation-name: infiniteScrollAnimation;
          animation-duration: 2s;
          animation-iteration-count: infinite;
          animation-timing-function: ease-in-out;
        }
      }
      @keyframes HomeAnimationH4 {
        from {
          // transform
          transform: translateY(100px);
          // opacity
          opacity: 0;
        }
        to {
          // transform
          transform: translateY(0);
          // opacity
          opacity: 1;
        }
      }

      @keyframes Scroll {
        from {
          // transform
          transform: translateY(100px);
          // opacity
          opacity: 0;
        }
        to {
          // transform
          transform: translateY(0);
          // opacity
          opacity: 1;
        }
      }
      @keyframes infiniteScrollAnimation {
        0% {
          top: 0;
        }
        50% {
          top: 10px;
        }
        100% {
          top: 0;
        }
      }
    }
  }

  //  about
  #about {
    // flex
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    // Responsive
    @include ResponsiveTablet() {
      // flex
      flex-direction: column;
      gap: 20px;
    }
    @include ResponsiveMobile() {
      // flex
      flex-direction: column;
      gap: 10px;
    }

    // leftbox
    .left__box {
      // flex
      @include flexboxStyle();
      // Responsive
      @include ResponsiveMobile() {
        // flex
        align-items: center;
      }
      .about__img {
        // size
        width: 400px;
        height: 400px;
        //   background
        background: url(../../images/main/bg/webffleBg4.jpg) no-repeat
          center/cover;
        // border
        border-radius: 5px;
        // margin
        margin-top: 50px;

        // Responsive
        @include ResponsiveTablet() {
          // size
          width: 650px;
          height: 350px;
        }
        @include ResponsiveMobile() {
          // size
          width: 300px;
          height: 200px;
        }
      }
      h1 {
        // padding
        padding-top: 5px;
        // font
        font-family: $kr-font-family;
        font-weight: $black-weight;
        font-size: 5rem;
        color: $orange-color;

        // Responsive
        @include ResponsiveMobile() {
          // font
          font-size: 2.5rem;
        }
      }
    }
    .right__box {
      @include flexboxStyle();
      align-items: flex-end;
      gap: 10px;
      h2 {
        // font
        font-family: $kr-font-family;
        font-weight: $bold-weight;
        font-size: 2.4rem;
        color: $dark-grey-color;

        // Responsive
        @include ResponsiveMobile() {
          // font
          font-size: 1.8rem;
        }
      }
      p {
        // size
        width: 400px;
        // text
        text-align: justify;
        line-height: 29px;
        // font
        font-family: $kr-font-family;
        font-weight: $light-weight;
        font-size: 1.2rem;

        //Responsive
        @include ResponsiveTablet() {
          // width
          width: 700px;
          // font
          font-size: 1.4rem;
          // text
          letter-spacing: 2px;
          line-height: 38px;
        }

        @include ResponsiveMobile() {
          // width
          width: 300px;
          // font
          font-size: 0.9rem;
          //   text
          letter-spacing: normal;
          line-height: normal;
        }
      }
    }
  }

  // Service
  #service {
    //   position
    position: relative;
    // background
    background-color: $black-color;
    // flex
    @include flexboxStyle();
    align-items: center;
    justify-content: center;
    gap: 120px;
    // Responsive
    @include ResponsiveMobile() {
      overflow-y: hidden;
      //   flex
      gap: 15px;
      // margin
      margin-top: 30px;
      // padding
      padding-bottom: 30px;
    }
    .bg__img {
      // position
      position: absolute;
      // background
      background: url(../../images/main/bg/webffleBg3.jpg) no-repeat
        center/cover;
      // size
      width: 100%;
      height: 100%;
      //   filter
      filter: brightness(40%);
      // Responsive
      @include ResponsiveMobile() {
        // size
        height: 110%;
      }
    }
    // title
    .service__title__wrapper {
      // position
      position: relative;
      // z-index
      z-index: 100;
      .service__title {
        // font
        font-family: $kr-font-family;
        font-size: 2.7rem;
        color: $white-color;
        @include ResponsiveMobile() {
          // position
          position: absolute;
          //   transform
          transform: rotate(90deg);
          top: 480px;
          left: 80px;
        }
      }
    }
    // contents
    .service__contents__wrapper {
      // flex
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 15px;
      //   Responsive
      @include ResponsiveMobile() {
        //   padding
        padding-top: 50px;
        // flex
        flex-direction: column;
      }
      //   box styiing
      .website,
      .newsletter,
      .hosting {
        //   box styling
        @include ServiceBoxes(290px, 330px, $white-color, 12px);
        // flex
        @include flexboxStyle();
        justify-content: center;
        align-items: center;
        gap: 10px;
        // font
        font-family: $kr-font-family;
        // text
        text-align: center;
        // Responsive
        @include ResponsiveMobile() {
          gap: 5px;
        }
        span {
          // font
          font-size: 2.8rem;
          color: $dark-grey-color;

          @include ResponsiveMobile() {
            font-size: 1.8rem;
          }
        }

        h1 {
          // font
          font-weight: $bold-weight;
          font-size: 1.5rem;
          color: $orange-color;
          @include ResponsiveMobile() {
            font-size: 1.2rem;
          }
        }
        button {
          // font
          font-family: $kr-font-family;
          font-size: 1rem;
          color: $black-color;
          @include ResponsiveMobile() {
            font-size: 0.7rem;
          }
          // after
          &::after {
            //   display
            display: block;
            // content
            content: '';
            // border
            border-bottom: 1px solid $black-color;
            // transform
            transform: scaleX(0);
            // transition
            transition: all 250ms ease-in-out;
          }
          &:hover,
          &:focus {
            &::after {
              //   transform
              transform: scaleX(1);
            }
          }
        }
      }
      //   Responsive
      .website {
        @include ResponsiveMobile() {
          @include ServiceBoxes(250px, 170px, $white-color, 12px);
        }
      }
      .newsletter {
        @include ResponsiveMobile() {
          @include ServiceBoxes(250px, 170px, $white-color, 12px);
        }
      }
      .hosting {
        //   Responsive
        @include ResponsiveSmallTablet() {
          @include ServiceBoxes(590px, 240px, $white-color, 12px);
        }
        @include ResponsiveMobile() {
          @include ServiceBoxes(250px, 170px, $white-color, 12px);
        }
      }
    }
  }

  // Template
  #template {
    // flex
    @include flexboxStyle();
    align-items: center;
    justify-content: center;
    gap: 25px;
    // background
    background-color: $light-orange-color;
    //font
    font-family: $kr-font-family;
    color: $white-color;
    h1 {
      // font
      font-weight: $black-weight;
      font-size: 3rem;
    }
    // article
    article {
      // text
      text-align: center;
      // flex
      @include flexboxStyle();
      gap: 10px;

      // p
      p {
        // text
        text-align: justify;
        // width
        width: 275px;
      }
    }
    article:nth-of-type(2) {
      // text
      text-align: left;
      // flex
      gap: 0;
      div {
        // flex
        @include flexboxStyle();
        gap: 4px;
        // width
        width: 240px;
        input {
          // height
          height: 30px;
        }
        // email
        #email__template {
          // border
          border: 2px solid $white-color;
          border-radius: 20px;
          // background
          background-color: $black-color;
          // font
          font-family: $eng-font-family;
          font-family: $light-weight;
          color: $white-color;
          // margin
          padding: 0 10px;
        }
        // submit
        input:nth-of-type(2) {
          // border
          border-radius: 5px;
          // background
          background-color: $white-color;
          // font
          font-family: $eng-font-family;
          font-weight: $bold-weight;
          color: $orange-color;
        }
      }
    }
  }
}
