@import url("https://fonts.googleapis.com/css2?family=Comforter&family=Noto+Sans+KR:wght@300;400;500;700;900&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #home,
main #about,
main #service,
main #template {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

main #home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main #home .home__bg__wrapper {
  position: absolute;
  width: 100vw;
  height: 100vh;
  -webkit-filter: brightness(40%);
          filter: brightness(40%);
  z-index: 1;
}

main #home .home__bg__wrapper .home__img {
  width: 100vw;
  height: 100vh;
  background: url(../../images/main/bg/webffleMain.jpg) no-repeat center/cover;
  background-attachment: fixed;
}

main #home article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Noto Sans KR", sans-serif;
  color: #fff;
  z-index: 2;
}

main #home article h1 {
  display: table-cell;
  vertical-align: middle;
  font-size: 3rem;
  font-weight: 900;
  margin: 15px 0;
  border-right: 2px solid #fff;
  -webkit-animation: cursor 0.5s ease infinite;
          animation: cursor 0.5s ease infinite;
}

@-webkit-keyframes cursor {
  to {
    border-color: transparent;
  }
}

@keyframes cursor {
  to {
    border-color: transparent;
  }
}

@media screen and (max-width: 767px) {
  main #home article h1 {
    font-size: 1.5rem;
  }
}

main #home article h4 {
  padding-top: 15px;
  font-size: 1.2rem;
  font-weight: 300;
  -webkit-animation-name: HomeAnimationH4;
          animation-name: HomeAnimationH4;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 100ms;
          animation-delay: 100ms;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

main #home article div {
  -webkit-animation-name: HomeAnimationH4;
          animation-name: HomeAnimationH4;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 150ms;
          animation-delay: 150ms;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  padding-top: 20px;
}

main #home article div a {
  position: relative;
  font-size: 1.3rem;
  -webkit-animation-name: infiniteScrollAnimation;
          animation-name: infiniteScrollAnimation;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

@-webkit-keyframes HomeAnimationH4 {
  from {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes HomeAnimationH4 {
  from {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes Scroll {
  from {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes Scroll {
  from {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes infiniteScrollAnimation {
  0% {
    top: 0;
  }
  50% {
    top: 10px;
  }
  100% {
    top: 0;
  }
}

@keyframes infiniteScrollAnimation {
  0% {
    top: 0;
  }
  50% {
    top: 10px;
  }
  100% {
    top: 0;
  }
}

main #about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
}

@media screen and (max-width: 912px) {
  main #about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
}

@media screen and (max-width: 767px) {
  main #about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }
}

main #about .left__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 767px) {
  main #about .left__box {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

main #about .left__box .about__img {
  width: 400px;
  height: 400px;
  background: url(../../images/main/bg/webffleBg4.jpg) no-repeat center/cover;
  border-radius: 5px;
  margin-top: 50px;
}

@media screen and (max-width: 912px) {
  main #about .left__box .about__img {
    width: 650px;
    height: 350px;
  }
}

@media screen and (max-width: 767px) {
  main #about .left__box .about__img {
    width: 300px;
    height: 200px;
  }
}

main #about .left__box h1 {
  padding-top: 5px;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 900;
  font-size: 5rem;
  color: #fc7703;
}

@media screen and (max-width: 767px) {
  main #about .left__box h1 {
    font-size: 3rem;
  }
}

main #about .right__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 10px;
}

main #about .right__box h2 {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 700;
  font-size: 2.4rem;
  color: #575757;
}

@media screen and (max-width: 767px) {
  main #about .right__box h2 {
    font-size: 1.8rem;
  }
}

main #about .right__box p {
  width: 400px;
  text-align: justify;
  line-height: 29px;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
}

@media screen and (max-width: 912px) {
  main #about .right__box p {
    width: 700px;
    font-size: 1.4rem;
    letter-spacing: 2px;
    line-height: 38px;
  }
}

@media screen and (max-width: 767px) {
  main #about .right__box p {
    width: 300px;
    font-size: 0.9rem;
    letter-spacing: normal;
    line-height: normal;
  }
}

main #service {
  position: relative;
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 120px;
}

@media screen and (max-width: 767px) {
  main #service {
    overflow-y: hidden;
    gap: 15px;
  }
}

main #service .bg__img {
  position: absolute;
  background: url(../../images/main/bg/webffleBg3.jpg) no-repeat center/cover;
  width: 100%;
  height: 100%;
  -webkit-filter: brightness(40%);
          filter: brightness(40%);
}

main #service .service__title__wrapper {
  position: relative;
  z-index: 100;
}

main #service .service__title__wrapper .service__title {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 2.7rem;
  color: #fff;
}

@media screen and (max-width: 767px) {
  main #service .service__title__wrapper .service__title {
    position: absolute;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    top: 480px;
    left: 80px;
  }
}

main #service .service__contents__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 15px;
}

@media screen and (max-width: 767px) {
  main #service .service__contents__wrapper {
    padding-top: 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

main #service .service__contents__wrapper .website,
main #service .service__contents__wrapper .newsletter,
main #service .service__contents__wrapper .hosting {
  width: 290px;
  height: 330px;
  background-color: #fff;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  font-family: "Noto Sans KR", sans-serif;
  text-align: center;
}

@media screen and (max-width: 767px) {
  main #service .service__contents__wrapper .website,
  main #service .service__contents__wrapper .newsletter,
  main #service .service__contents__wrapper .hosting {
    gap: 5px;
  }
}

main #service .service__contents__wrapper .website span,
main #service .service__contents__wrapper .newsletter span,
main #service .service__contents__wrapper .hosting span {
  font-size: 2.5rem;
  color: #575757;
}

@media screen and (max-width: 767px) {
  main #service .service__contents__wrapper .website span,
  main #service .service__contents__wrapper .newsletter span,
  main #service .service__contents__wrapper .hosting span {
    font-size: 1.8rem;
  }
}

main #service .service__contents__wrapper .website h1,
main #service .service__contents__wrapper .newsletter h1,
main #service .service__contents__wrapper .hosting h1 {
  font-weight: 700;
  font-size: 1.5rem;
  color: #fc7703;
}

@media screen and (max-width: 767px) {
  main #service .service__contents__wrapper .website h1,
  main #service .service__contents__wrapper .newsletter h1,
  main #service .service__contents__wrapper .hosting h1 {
    font-size: 1.2rem;
  }
}

main #service .service__contents__wrapper .website button,
main #service .service__contents__wrapper .newsletter button,
main #service .service__contents__wrapper .hosting button {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 1rem;
}

@media screen and (max-width: 767px) {
  main #service .service__contents__wrapper .website button,
  main #service .service__contents__wrapper .newsletter button,
  main #service .service__contents__wrapper .hosting button {
    font-size: 0.7rem;
  }
}

main #service .service__contents__wrapper .website button::after,
main #service .service__contents__wrapper .newsletter button::after,
main #service .service__contents__wrapper .hosting button::after {
  display: block;
  content: '';
  border-bottom: 1px solid #000;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

main #service .service__contents__wrapper .website button:hover::after, main #service .service__contents__wrapper .website button:focus::after,
main #service .service__contents__wrapper .newsletter button:hover::after,
main #service .service__contents__wrapper .newsletter button:focus::after,
main #service .service__contents__wrapper .hosting button:hover::after,
main #service .service__contents__wrapper .hosting button:focus::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

@media screen and (max-width: 767px) {
  main #service .service__contents__wrapper .website {
    width: 250px;
    height: 170px;
    background-color: #fff;
    border-radius: 12px;
  }
}

@media screen and (max-width: 767px) {
  main #service .service__contents__wrapper .newsletter {
    width: 250px;
    height: 170px;
    background-color: #fff;
    border-radius: 12px;
  }
}

@media screen and (max-width: 820px) {
  main #service .service__contents__wrapper .hosting {
    width: 590px;
    height: 240px;
    background-color: #fff;
    border-radius: 12px;
  }
}

@media screen and (max-width: 767px) {
  main #service .service__contents__wrapper .hosting {
    width: 250px;
    height: 170px;
    background-color: #fff;
    border-radius: 12px;
  }
}

main #template {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 25px;
  background-color: #eb9e5c;
  font-family: "Noto Sans KR", sans-serif;
  color: #fff;
}

main #template h1 {
  font-weight: 900;
  font-size: 3rem;
}

main #template article {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

main #template article p {
  text-align: justify;
  width: 275px;
}

main #template article:nth-of-type(2) {
  text-align: left;
  gap: 0;
}

main #template article:nth-of-type(2) div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4px;
  width: 240px;
}

main #template article:nth-of-type(2) div input {
  height: 30px;
}

main #template article:nth-of-type(2) div #email__template {
  border: 2px solid #fff;
  border-radius: 20px;
  background-color: #000;
  font-family: "Roboto", sans-serif;
  font-family: 300;
  color: #fff;
  padding: 0 10px;
}

main #template article:nth-of-type(2) div input:nth-of-type(2) {
  border-radius: 5px;
  background-color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #fc7703;
}

main #contact {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 45px;
}

@media screen and (max-width: 767px) {
  main #contact {
    height: 1100px;
    gap: 0px;
  }
}

main #contact article {
  font-family: "Noto Sans KR", sans-serif;
}

main #contact .contact__first__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 30px;
}

@media screen and (max-width: 767px) {
  main #contact .contact__first__box {
    position: relative;
    top: 40px;
  }
}

main #contact .contact__first__box h1 {
  font-weight: 900;
  font-size: 3rem;
  text-align: left;
}

main #contact .contact__first__box section:nth-of-type(1),
main #contact .contact__first__box section:nth-of-type(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 10px;
}

main #contact .contact__first__box section:nth-of-type(1) div h3,
main #contact .contact__first__box section:nth-of-type(2) div h3 {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  padding-bottom: 5px;
}

main #contact .contact__first__box section:nth-of-type(1) div input,
main #contact .contact__first__box section:nth-of-type(2) div input {
  width: 160px;
  height: 30px;
  border: none;
  border-bottom: 1px solid #000;
  padding: 0 5px;
}

main #contact .contact__first__box section:nth-of-type(3) h3 {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  padding-bottom: 10px;
}

main #contact .contact__first__box section:nth-of-type(3) textarea {
  width: 330px;
  height: 140px;
  padding: 10px;
}

main #contact .contact__last__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

main #contact .contact__last__box h2 {
  text-align: center;
}

main #contact .contact__last__box textarea {
  width: 300px;
  height: 300px;
  resize: none;
  padding: 10px 10px;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 0.8rem;
  color: #575757;
  text-align: justify;
}

main #contact .contact__last__box .agree__checkbox {
  cursor: pointer;
}

main #contact .contact__last__box .agree__checkbox label {
  font-weight: 500;
  font-size: 0.9rem;
  cursor: pointer;
}

main #contact .contact__last__box input[type='submit'] {
  font-weight: 700;
  font-size: 1rem;
  color: #fff;
  background-color: #000;
  width: 300px;
  height: 35px;
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
  cursor: pointer;
}

main #contact .contact__last__box input[type='submit']:hover, main #contact .contact__last__box input[type='submit']:focus {
  color: #000;
  background-color: #fff;
}
/*# sourceMappingURL=main.css.map */