@import url('https://fonts.googleapis.com/css2?family=Comforter&family=Noto+Sans+KR:wght@300;400;500;700;900&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');
// Variable
// Font Family
$kr-font-family: 'Noto Sans KR', sans-serif;
$eng-font-family: 'Roboto', sans-serif;
$style-font-family: 'Comforter', cursive;
// Font Weight
$light-weight: 300;
$regular-weight: 400;
$medium-weight: 500;
$bold-weight: 700;
$black-weight: 900;
// color
$white-color: #fff;
$black-color: #000;
$grey-color : #cfcfcf;
$dark-grey-color: #494949;
$button-color: rgba(0, 0, 0, 0.445);
$orange-color: #fc7703;
$light-orange-color: #eb9e5c;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}

button {
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
}
a{
    text-decoration: none;
    cursor: pointer;
}
li{
    list-style: none;
}

// flex mixin
@mixin flexboxStyle {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#wrapper{
    // size
    width: 100%;
    height: 500vh;
    // background-color
    background-color: $white-color;
    // overflow
    overflow-x: hidden;
    // Header
    header{
        // flex
        display: flex;
        justify-content: center;
        // margin
        margin-top: 20px;
        nav{
            // max-width
            max-width: 1200px;
            // width
            width: 100%;
            // flex
            display: flex;
            justify-content: space-between;
            align-items: center;
             // z-index
            z-index: 2000;
            // Logo
            & > a{
                // font
                font-family: &$eng-font-family;
                font-weight: $black-weight;
                font-size: 2rem;
                color: $orange-color;
                // padding
                padding-left: 15px;
            }
            // menubar
            .menubar-wrapper{

            }
        }
        
    }
    // Main
    main{
        // flex
        @include flexboxStyle();
        // home
        section{
            // position
            position: relative;
             // size
            width: 100vw;
            height: 100vh;
        }
        #home{
            // flex
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .home__slider{
                // position
                position: absolute;
                // size
                width: 100%;
                height: 100%;
                // overflow
                overflow: hidden;

                .slider__slides{
                    width: 100%;
                    padding-top: 66%;

                    .slider__slide{
                        // font
                        font-size: 50px;
                        font-weight: bold;   
                        // position
                        position: absolute;
                        top: 0;
                        left: 0;
                        // size
                        width: 100%;
                        height: 100%;
                        // background
                        background-color: lemonchiffon;
                        // filter
                        filter: brightness(30%);
                        // transition
                        transition: 1s;
                        // opacity
                        opacity: 0;
                        // z-index
                        z-index: 1;
                    }
                    .slider__slide.active{
                        opacity: 1;
                    }

                    // Slider Images
                    .slider__slide:nth-of-type(1){
                        // image
                        background: url("../../images/main/bg/webffleMain.jpg") no-repeat center/cover;
                    }
                    .slider__slide:nth-of-type(2){
                        // image
                        background: url("../../images/main/bg/webffleBg2.jpg") no-repeat center/cover;
                    }
                    .slider__slide:nth-of-type(3){
                        // image
                        background: url("../../images/main/bg/webffleBg3.jpg") no-repeat center/cover;
                    }
                    .slider__slide:nth-of-type(4){
                        // image
                        background: url("../../images/main/bg/webffleBg4.jpg") no-repeat center/cover;
                    }
                }
            }
        }
    }
}