@import url("https://fonts.googleapis.com/css2?family=Comforter&family=Noto+Sans+KR:wght@300;400;500;700;900&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap");
main {
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 100%;
}

main .web__bg {
  background: url(../../images/subpage/web/bg/webBG.png) no-repeat center/cover;
  background-attachment: fixed;
}

main #apply #slides__style {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  font-family: "Noto Sans KR", sans-serif;
}

main #apply #slides__style #title {
  font-weight: 700;
  font-size: 1.8rem;
  color: #fc7703;
}

main #apply #slides__style #contents {
  padding: 0;
  width: 190px;
  font-weight: 500;
}

main #apply #slides__style #price {
  padding: 0;
  font-weight: 400;
  font-size: 1rem;
  color: #575757;
  text-align: center;
}

main #apply #slides__style #price #price__color {
  font-weight: 700;
  font-size: 1.5rem;
  color: #fc7703;
}

main #apply #slides__style #date {
  padding: 15px 15px;
  font-weight: 400;
  border-top: 1px solid #8f8f8f;
  text-align: center;
}

main #process {
  width: 100vw;
  height: 100%;
  padding: 60px 0 100px 0;
  background-color: #fff;
  font-family: "Noto Sans KR", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1000;
}

main #process header h1 {
  font-size: 2rem;
  padding-bottom: 50px;
  letter-spacing: 3px;
}

main #process article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}

@media screen and (max-width: 1176px) {
  main #process article {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

main #process article > i {
  font-size: 2rem;
  color: #fc7703;
}

@media screen and (max-width: 1176px) {
  main #process article > i {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

main #process article > section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #process article > section h2 {
  font-weight: 400;
}

main #web__portfolio {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 50px 0 100px 0;
  font-family: "Noto Sans KR", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #web__portfolio header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 100;
}

main #web__portfolio header h1 {
  font-size: 2rem;
  color: #fff;
  padding-bottom: 10px;
  letter-spacing: 3px;
}

main #web__portfolio header h4 {
  font-size: 1.2rem;
  font-weight: 400;
  color: #fff;
  padding-bottom: 60px;
}

main #web__portfolio #portfolio__image {
  position: absolute;
  width: 110%;
  height: 110%;
  background: url(../../images/subpage/web/bg/portfolioBG.jpg) no-repeat center/cover;
  -webkit-filter: blur(3px) brightness(25%);
          filter: blur(3px) brightness(25%);
}

main #web__portfolio article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

main #web__portfolio article .portfolio__contents__box {
  width: 350px;
  height: 350px;
  background-color: #fff;
  padding: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 0 0 0 45px;
  -webkit-box-shadow: 5px 4px 9px -1px rgba(0, 0, 0, 0.42);
          box-shadow: 5px 4px 9px -1px rgba(0, 0, 0, 0.42);
}

main #web__portfolio article .portfolio__contents__box div {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

main #web__portfolio article .portfolio__contents__box div img {
  width: 100%;
}

main #web__portfolio article .portfolio__contents__box div h3 {
  font-size: 1.6rem;
  color: #575757;
  padding: 15px 15px 15px 0;
}

main #web__portfolio article .portfolio__contents__box div ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  padding: 0 15px 20px 0;
}

main #web__portfolio article .portfolio__contents__box div ul li {
  font-size: 0.8rem;
  color: #fff;
  padding: 5px 10px;
}

main #web__portfolio article .portfolio__contents__box div ul .type {
  background-color: #0818eb;
  border-radius: 20px;
}

main #web__portfolio article .portfolio__contents__box div ul .status {
  background-color: #fc7703;
  border-radius: 20px;
}

main #web__portfolio article .portfolio__contents__box div a {
  font-size: 0.9rem;
  color: #575757;
  border-bottom: 1px solid #8f8f8f;
  margin-right: 15px;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

main #web__portfolio article .portfolio__contents__box div a:hover, main #web__portfolio article .portfolio__contents__box div a:focus {
  color: #fc7703;
  border-color: #fc7703;
}

main #contact header #quotation__title {
  font-size: 2.8rem;
}
/*# sourceMappingURL=web.css.map */