@import url("https://fonts.googleapis.com/css2?family=Comforter&family=Noto+Sans+KR:wght@300;400;500;700;900&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap");
.buttons {
  position: fixed;
  right: 0px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 800;
}

.buttons #upBtn,
.buttons #downBtn {
  font-size: 1rem;
  color: #fff;
  width: 35px;
  height: 40px;
  padding: 10px 0;
  background-color: rgba(0, 0, 0, 0.822);
}

.buttons #upBtn {
  border-radius: 15px 0 0 0;
}

.buttons #downBtn {
  border-radius: 0 0 0 15px;
}

.buttons .admin__toggle__btn {
  font-size: 1.2rem;
  color: #fff;
  text-align: center;
  background-color: #690000;
  width: 35px;
  height: 40px;
  padding: 10px 0;
}

.buttons .admin__toggle__btn .open-hidden {
  display: none;
}

.buttons .admin__toggle__btn .close {
  display: none;
}

.buttons .admin__toggle__btn .close-active {
  display: block;
}

.buttons-active {
  right: 140px;
}

.admin {
  position: fixed;
  right: -140px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  z-index: 700;
}

.admin .admin__contents {
  font-family: "Noto Sans KR", sans-serif;
  width: 140px;
  height: 50vh;
  border: 0.5px solid #e0e0e0;
  border-radius: 15px 0 0 15px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.admin .admin__contents a {
  font-size: 0.9rem;
  font-weight: 400;
  color: #575757;
  -webkit-transition: all 280ms ease-in-out;
  transition: all 280ms ease-in-out;
}

.admin .admin__contents a:hover, .admin .admin__contents a:focus {
  color: #fc7703;
}

.admin .admin__contents a:nth-of-type(1) {
  padding-bottom: 20px;
}

.admin .admin__contents a:nth-of-type(2) {
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
}

.admin .admin__contents a:nth-of-type(3) {
  padding-top: 20px;
  padding-bottom: 20px;
}

.admin .admin__contents a:nth-of-type(4) {
  padding-top: 20px;
  border-top: 1px solid #e0e0e0;
}

.admin-active {
  right: 0;
}
/*# sourceMappingURL=adminBtn.css.map */